// App.scss
*{
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  &::-webkit-scrollbar{
    -webkit-appearance: none;
  }
  &::-webkit-scrollbar:vertical{
    width: 8px;
  }
  &::-webkit-scrollbar-thumb{
    background-color: darken($color: #9240e4, $amount: 2);
  }
}

.app {
  display: flex;
}

.sidebar {
  width: 224px;
  height: 970px;
  background-color: #f0f0f0;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-weight: 500;
}

h1{
  color: #9240e4;
}

.menu-item {
  margin: 20% 0;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  padding: 20px;
  transition: .5s;
}

.menu-item:hover{
  color: #9240e4;
  scale: 1.1;
}

.logout-button {
  width: 224px;
  margin: 90% auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 20px;
  border: none;
  transition: .5s;
  font-weight: 500;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logout-button:hover{
  scale: 1.1;
  color: #fff;
  background-color: #9240e4;
  font-weight: 700;
  width: 224px;
}

.menu-item.active {
  background-color: #9240e4;
  font-weight: 700;
  color: #fff;
}

.content {
  margin-top: 60px;
  font-size: 18px;
  flex: 1;
  padding-left: 40px;
}

.header {
  margin-bottom: 40px;
}

.search-bar {
  width: 500px;
  display: block;
}

.search-bar input {
  width: 100%;
  height: 30px;
  padding: 0 20px;
  font-size: 1.2rem ;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  &:focus{
    border-bottom: 2px solid #9240e4;
    transition: 0.35s ease;
    &::-webkit-input-placeholder{
      transition: opacity 0.45s ease; 
  	  opacity: 0;
     }
    &::-moz-placeholder {
      transition: opacity 0.45s ease; 
  	  opacity: 0;
     }
    &:-ms-placeholder {
     transition: opacity 0.45s ease; 
  	 opacity: 0;
     }    
   }
}

/* Estilos para a lista */

.lists-container {
  display: flex;
  width: 80vw;
  padding-top: 30px;
  height: 758px;
}

.list {
  flex: 1;
  height: 680px;
  background-color: #EEF2F5;
  padding: 24px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: calc(100% - 40px); /* Espaço disponível - 40px (margens) */
  flex: 0 0 auto;
  margin-right: 20px;
  overflow-y: scroll;
  &::-webkit-scrollbar{
    -webkit-appearance: none;
  }
  &::-webkit-scrollbar:vertical{
    width: 8px;
  }
  &::-webkit-scrollbar-thumb{
    background-color: darken($color: #9240e4, $amount: 2);
  }
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.add-card-button {
  color: #9240e4;
  border: none;
  font-weight: 600;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 30px;
  margin-left: 260px;
  transition: .2s;
}

.add-card-button:hover {
  background-color: #7210d4;
  color: #fff;
  scale: 1.1;
}

/* Estilos para os cartões */

.card-list {
  list-style: none;
  padding: 0px;
  margin: 0;
}

.card {
  font-weight: 500;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 8px;
  color: #9240e4;
  border-radius: 20px;
  margin-bottom: 8px;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.card:hover {
  background-color: #f5f5f5;
}

.card-text {
  font-size: 20px;
}

.card-actions {
  display: flex;
  padding: 20px 0px 20px 0px;
}

.move-button {
  background-color: #9240e4;
  color: #fff;
  border: none;
  margin: 6px;
  padding: 8px 10px;
  border-radius: 3px;
  margin-right: 5px;
  cursor: pointer;
  transition: .2s;
}
.move-button:hover{
  scale: 1.2;
}

.delete-button {
  background-color: #fc4436;
  color: #fff;
  border: none;
  margin: 6px;
  padding: 8px 10px;
  border-radius: 3px;
  cursor: pointer;
  transition: .2s;
}
.delete-button:hover{
  background-color: #ee1000;
  scale: 1.2;
}

#logotipo{
  margin: 20% 0;
  text-align: center;
  padding: 20px;
  font-weight: 700;
}
